.post-content {
  text-align: center;
  margin: 8% 10% 5% 10%;
}

.title-image {
  width: 60%;
  height: 40%;
  border-radius: 15px;
  object-fit: cover;
}

#post-title {
  color: rgb(96, 103, 107);
}
