.menu {
  display: flex;
  justify-content: space-between;
  padding: 20px 5% 15px 5%;
  border-bottom: 1px solid #e2e2e2;
}

#left-logo {
  align-self: flex-start;
  font-size: larger;
}
#left-logo:link,
#left-logo:visited {
  text-decoration: none;
  color: rgb(67, 72, 75);
}

#left-logo > span {
  font-weight: 800;
}

#right-menu {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}
