.postContent {
  text-align: center;
}

.titleImage {
  width: 60%;
  height: 40%;
  border-radius: 15px;
  object-fit: cover;
  text-align: center;
}

.postTitle {
  color: rgb(96, 103, 107);
}

.postSubContent {
  text-align: left;
}
